.portfolio {
  margin-top: 40px;
  padding-bottom: 40px;

  &__sub-title {
    position: relative;
    z-index: 2;
    text-align: center;
    @include before_circle;

    &:before {
      top: -4px;
      left: calc(50% - 22.5px);
    }
  }

  .section-title {
    text-align: center;
  }

  .divider {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  &__card-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  &__card {
    position: relative;
    width: 48%;
    max-height: 130px;

    cursor: pointer;
    &-content {
      display: flex;
      column-gap: 30px;
    }

    &.portfolio__card--active {
      min-height: 200px;

      .portfolio__face-header {
        background: var(--blue-bright);
        border-radius: 10px 10px 0 0;

        h3 {
          color: var(--white);
        }

        svg {
          fill: var(--white);
        }
      }

      .portfolio__face-body {
        height: 130px;
        border-radius: 0 0 10px 10px;
        transform: translateY(0) scale(1);
      }
    }
  }

  &__face {
    transition: 0.5s;
  }

  &__face-header {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;

    background-color: var(--gray);
    border-radius: 10px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      color: #bdbaba;
    }

    svg {
      fill: #bdbaba;
    }
  }

  &__face-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: translateY(-100%) scale(0);
    height: 0;
    color: var(--project-card-text);
    background: var(--project-card-bg);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  }

  &__link {
    display: block;
    height: 40px;
    margin-top: 10px;
    padding: 5px 10px 0 10px;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s;

    a {
      color: var(--text-color);
      transition: all 0.6s;
    }

    &:hover {
      color: var(--title-color);
      border: 2px solid var(--title-color);

      a {
        color: var(--title-color);
      }
    }
  }
}

@media (max-width: 1200px) {
  .portfolio {
    &__card-content {
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 992px) {
  .portfolio {
    &__card-wrapper {
      flex-wrap: wrap;
      row-gap: 40px;
    }

    &__card {
      width: 100%;
    }

    &__card-content {
      h3 {
        font-size: 22px;
      }
    }

    &__card--active {
      min-height: 180px;

      &.portfolio__face-body {
        height: 80px;
      }
    }
   }
}

@media (max-width: 576px) {
  .portfolio {
    &__card-content {
      h3 {
        font-size: 20px;
      }

      p {
        font-size: 15px;
      }

      a {
        font-size: 16px;
      }
    }

    &__face-header {
      height: 80px;
    }
  }
}
