.skills {
  padding-top: 100px;

  &__sub-title {
    position: relative;
    z-index: 2;

    text-align: center;

    @include before_circle;

    &:before {
      top: -4px;
      left: calc(50% - 22.5px);
    }
  }

  .section-title {
    text-align: center;
  }

  .divider {
    margin-left: auto;
    margin-right: auto;
  }

  &__wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 40px 0;
  }

  &__card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    max-width: 100%;
    height: 300px;

    background: var(--project-card-bg);
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    transition: 0.5s;
  }

  &__card:hover {
    height: 360px;
  }

  &__img-box {
    position: absolute;
    top: 20px;
    left: calc(50% - 100px);

    width: 200px;
    height: 300px;

    transition: 0.5s;

    overflow: hidden;
  }

  &__card:hover &__img-box {
    top: -100px;
    scale: 0.75;
  }

  &__content {
    position: absolute;
    top: 252px;

    width: 100%;
    height: 25px;
    padding: 0 30px;

    text-align: center;

    color: var(--project-card-text);

    transition: 0.5s;

    overflow: hidden;
  }

  &__card:hover &__content {
    top: 130px;

    height: 200px;
  }

  &__title {
    padding-bottom: 10px;

    font-size: 20px;
    font-weight: 700;

    color: var(--title-color);
  }
}

@media (max-width: 992px) {
  .skills {
    font-size: 16px;

    .divider {
      margin-bottom: 50px;
    }

    &__card {
      width: 45%;
      height: 300px;
    }

    &__card:hover {
      height: 300px;
    }

    &__card &__img-box {
      top: -100px;
      scale: 0.75;
    }

    &__card &__content {
      top: 130px;
      height: 200px;
    }
  }
}

@media (max-width: 768px) {
  .skills {
    &__wrapper {
      width: 95%;
      gap: 100px 50px;
    }

    &__card {
      width: 45%;
      height: 350px;
    }

    &__card:hover {
      height: 350px;
    }

    &__card &__content {
      height: 250px;
    }
  }
}

@media (max-width: 576px) {
  .skills {
    &__card {
      width: 90%;
      height: 310px;
    }

    &__card:hover {
      height: 310px;
    }
  }
}
